.header {
  display: flex;
  width: 100vw;
  flex-direction: column;
  box-shadow: 0px 0.75px 0.75px 0.75px rgba(0, 177, 106, 1);
  position: sticky;
}

.header__nav {
  align-items: center;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  background-color: #00b16a;
  color: #fff;
  /* z-index: 100; */
}

.header__navContact {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
}

.header__navContact .MuiSvgIcon-root {
  color: #fff;
}

.header__navSocial {
  display: flex;
  cursor: pointer;
}

.header__navSocial .MuiSvgIcon-root {
  color: #fff;
}

.header__facebook:hover .MuiSvgIcon-root {
  color: #3b5999;
}
.header__instagram:hover .MuiSvgIcon-root {
  color: #e4405f;
}
.header__linkedin:hover .MuiSvgIcon-root {
  color: #0077b5;
}
.header__twitter:hover .MuiSvgIcon-root {
  color: #55acee;
}

.header__main {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px;
}

.header__pages {
  display: flex;
  align-items: center;
  padding-right: 100px;
}
.header__logo {
  padding-left: 100px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: xx-large;
}
.header__conet {
  color: #ff6582;
}
.header__edu {
  color: #0095e8;
}
.header__options {
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.header__link:hover {
  color: #0095e8;
  border-bottom: 2px solid #0095e8;
}
