.header {
  display: flex;
  width: 100vw;
  box-shadow: 0px 1px 3px 5px rgba(0, 0, 0, 0.75);
}

.header__nav {
  align-items: center;
  display: flex;
  width: 100vw;
  padding: 5px 30px;
  justify-content: space-between;
  background-color: #00b16a;
  color: #fff;
  z-index: 100;
  position: sticky;
}

.header__navContact {
  display: flex;
  margin-left: 200px;
  justify-content: space-evenly;
  align-items: center;
}

.header__navContact .MuiSvgIcon-root {
  color: #fff;
}

.header__navSocial {
  display: flex;
  margin-left: 300px;
  cursor: pointer;
}

.header__navSocial .MuiSvgIcon-root {
  color: #fff;
}

.header__facebook:hover .MuiSvgIcon-root {
  color: #3b5999;
}
.header__instagram:hover .MuiSvgIcon-root {
  color: #e4405f;
}
.header__linkedin:hover .MuiSvgIcon-root {
  color: #0077b5;
}
.header__twitter:hover .MuiSvgIcon-root {
  color: #55acee;
}
